<!DOCTYPE HTML>
<html>
  <body>
    <% if logged_in? %>
      <div  class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-secondary"
              data-src="../images/assign-bg.jpg"
              data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
        <ul><br>
          <h1> <%= @user.first_name%>'s assignment(s) </h1>
        </ul>
      </div>
 <div style="background-image: url(../images/post-bg.jpg)">
 <br>
        <div class="uk-container">
        

      <div class="uk-child-width-1-2 uk-text-left" uk-grid>
        <div>
          <div class="uk-child-width-1-2 uk-text-left" uk-grid>
            <div>
           <div>
                <div class=" uk-card uk-card-default uk-card-body"  style="background-color:#E35109;">
                <div class="uk-card-badge uk-label" style="background-color:yellow;color:black">IMPORTANT</div>
               
              <ul class="white">
              <br>
                  <% @passed_assignment.each do |pass| %>
                  <% if pass.assignment.name %>
                    <li class="white-bg"><a href="/edit_assignment/<%= pass.assignment.id %>" class="uk-card-hover"><p> <%= pass.assignment.name %></p></a></li>
                    <p id="small"> Last Updated : <%= pass.assignment.updated_at.strftime("%m/%Y/%d") %> </p>
                <% else %>
                    <li style="color:red"> You haven't passed any assignment yet.</li>
               </ul>
               
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
            <div>
                <div class="blue-bg uk-card uk-card-default uk-card-body">
                <div class="uk-card-badge uk-label" style="background-color:green;">Passed</div>
               
              <ul class="white">
              <br>
                  <% @passed_assignment.each do |pass| %>
                  <% if pass.assignment.name %>
                    <li class="white-bg"><a href="/edit_assignment/<%= pass.assignment.id %>" class="uk-card-hover"><p> <%= pass.assignment.name %></p></a></li>
                    <p id="small"> Last Updated : <%= pass.assignment.updated_at.strftime("%m/%Y/%d") %> </p>
                <% else %>
                    <li style="color:red"> You haven't passed any assignment yet.</li>
               </ul>
               
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="bg uk-card uk-card-default uk-card-body uk-margin-small-bottom">
        <div class="uk-card-badge uk-label">New</div>
          
          <ul class="white">
          <br>
            <% @on_process_assignment.each do |on_process| %>
              <% if on_process.status == true %>
              
                <li class="white-bg"><a href="/edit_assignment/<%= on_process.id %>"  class="uk-card-hover" ><p> <%= on_process.name %></p></a></li>
                <p> <%= on_process.detail %></p>
                  <p id="small"> Last Updated : <%= on_process.updated_at.strftime("%m/%Y/%d %l:%M %p %Z") %> </p>
                </li>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      </div>
      </div>
    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login"> Sign In </a>
    <%end %>
  </body>
</html>
