<!DOCTYPE HTML>
<html>
  <body>
    <a href="/account">Back to Accont</a>
    <a href="/assignments">Assignments</a>
    <a href="/friend">Friends</a>
    <a href="/logout">Log Out</a> 
    <br>
    
      Welcome <%= @user.first_name %> to the board of course  <%= @user_course_name.name %>
      </br>
        <% @whole_course_posts.each do |detail| %>
          </br></br>
          Post ID : <%= detail.id %><br>
          Created by : <%= detail.user_id %><br>
          Title :<%= detail.title %><br>
          Content :<%= detail.content %><br>
          <form action="/delete/<%= detail.id %>" method="POST">
            <input type="hidden" id="hidden" name="_method" value="delete"/>
            <input type="submit" value="Delete">
          </form>
          </br></br>
          <form action="/edit/<%= detail.id %>" method="POST">
            <input type="hidden" id="hidden" name="_method" value="patch"/>
            Title: 
            <input type="text" name="edit_title" id="edit_title" value="<%= detail.title %>"/>
            <br>
            Content: 
            <input type="text" name="edit_content" id="edit_content" value="<%= detail.content %>"/>
            <br>
            <input type="submit" value="Update"/>
            <br>
          </form>
          <br>
          <br>
        <% end %>
        <br>
        <br>
        -------------Create post-----------
        
        <form action='/create' method="POST">
          Title : <input type="text" name="new_title" id="new_title" /><br>
          Content : <input type="text" name="new_content" id="new_content" /><br>
          <input type="submit" value="Create">
        </form>
    
  </body>
</html>
